// ================ Strength section ================ //
.strength {
    padding-bottom: 0;
    padding-top: 15px;
    height: 133px;
    display: flex;
    align-items: center;
    &-item {
        .col(25%);
        display: flex;
        align-items: center;
        .item-icon {
            img {
                vertical-align: middle;
            }
        }
        .item-content {
            padding-left: 20px;
            height: 49px;
            .title {
                font-size: 16px;
                font-weight: 500;
                color: @title-color;
            }
            .detail {
                font-size: 14px;
                font-weight: 400;
                color: @summary-color;
                letter-spacing: -0.01em;
            }
        }
    }
}

// ================== Banner section ================= //
.banner {
    .banner-col {
        margin: -15px 0;
    }
    span {
        color: @main-color;
    }
    .title {
        font-weight: 600;
        font-size: 30px;
        color: @title-color;
        text-transform: uppercase;
    }
    .summary {
        font-weight: 500;
        font-size: 18px;
        color: @summary-color;
        letter-spacing: -0.02em;
    }
    &-left {
        &-inner {
            height: 100%;
        }
        img {
            display: block;
            width: 100%;
            height: 100%;
        }
        .col(58.3333%);
        position: relative;
        &-detail {
            position: absolute;
            left: 50%;
            bottom: 40px;
            width: 100%;
            .transformer(translate(-50%, 0));
            text-align: center;
            .banner-countdown {
                margin-bottom: 19px;
                justify-content: center;
                display: flex;
                span {
                    font-size: 21px;
                    font-weight: 600;
                    width: 100%;
                    margin-bottom: -26px;
                }
                .time {
                    width: 60px;
                    height: 62px;
                    background-color: @text-white-color;
                    margin: 0 5px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-wrap: wrap;
                    font-size: 12px;
                    font-weight: 600;
                    text-transform: uppercase;
                }
            }
            .title {
                margin-bottom: -5px;
                letter-spacing: 0.01em;
            }
        }
    }
    &-right {
        .col(41.6667%);
        &-item {
            img {
                display: block;
                width: 100%;
            }
            overflow: hidden;
            position: relative;
            padding: 15px 0;
        }
        &-content {
            position: absolute;
            top: 48%;
            left: 30px;
            .transformer(translateY(-50%));
            .sale-number {
                font-size: 60px;
                font-weight: 600;
                line-height: 70px;
            }
            .special {
                font-size: 24px;
                font-weight: 500;
                margin-top: -10px;
            }
        }
    }
}

// ============== Top selling section ============== //
.top-selling {
    .label {
        .flex();
    }
    .nav-arrows {
        display: flex;
        font-size: 38px;
        color: @bg-item;
        .transit(all, .5s);
        .prev {
            &:hover {
                color: @main-color;
                .transit(all, .5s);
            }
        }
        .next {
            padding-left: 20px;
            &:hover {
                color: @main-color;
                .transit(all, .5s);
            }
        }
    }
    .title {
        height: 151px;
        line-height: 151px;
        text-transform: uppercase;
        position: relative;
        font-size: 90px;
        font-weight: 600;
        color: @bg-item;
        &-front {
            position: absolute;
            font-size: 42px;
            font-weight: 700;
            color: @title-color;
            top: 50%;
            .transformer(translateY(-50%));
        }
    }
    .product-list {
        padding-bottom: 14px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        text-align: center;
        &-item {
            img {
                width: 100%;
            }
            .col(25%);
            .product-des {
                font-size: 14px;
                font-weight: 600;
                margin-top: 17px;
                margin-bottom: 25px;
                .product-name {
                margin: auto;
                color: @title-color;
                width: 191px;
                letter-spacing: 0.02em;
                }
                .product-price {
                    color: @main-color;
                    margin-top: 8px;
                    letter-spacing: -0.06em;
                    span {
                        color: @reduce-price;
                        text-decoration: line-through;
                        letter-spacing: 0;
                        padding-right: 5px;
                    }
                }
            }
        }
    }
}

// ================ News section ================ //
.news {
    background-image: url('../img/news-bg.png');
    height: 664px;
    background-repeat: repeat;
    &-title {
        text-transform: uppercase;
        position: relative;
        font-size: 90px;
        font-weight: 700;
        color: @title-bg-color;
        text-align: center;
        padding-top: 66px;
        padding-bottom: 7px;
        letter-spacing: 0.01em;
        &-front {
            position: absolute;
            font-size: 42px;
            font-weight: 600;
            color: @title-color;
            top: 63%;
            left: 50%;
            .transformer(translate(-50%, -50%));
        }
    }
    &-list {
        &-item {
            img {
                width: 100%;
            }
            .col(33.333%);
            text-align: left;
            .item-summary {
                font-size: 16px;
                font-weight: 600;
                padding-bottom: 10px;
                color: @title-color;
                margin-top: 17px;
                letter-spacing: 0.02em;
            }
            .item-origin {
                font-size: 12px;
                font-weight: 500;
                color: @summary-color;
                letter-spacing: 0.02em;
                span {
                    color: @main-color;
                }
            }
        }
    }
}

// ============== Newsletter section ================ //
.newsletter {
    background-color: @bg-header;
    height: 400px;
    text-align: center;
    padding: 90px 0;
    box-sizing: border-box;
    .content {
        letter-spacing: -0.02em;
        .title {
            font-size: 32px;
            font-weight: 600;
            color: @text-white-color;
        }
        .summary {
            font-size: 14px;
            font-weight: 500;
            color: @newsletter;
            padding-top: 12px;
            padding-bottom: 60px;
            letter-spacing: 0.01em;
        }
    }
    .email-signup {
        display: inline-block;
        align-items: center;
        form {
            display: flex;
            justify-content: center;
            width: 770px;
            border: 1px solid @newsletter-border;
            border-radius: 70px;
            overflow: hidden;
            position: relative;
            .email-signup-input {
                flex: 1;
                input {
                    outline: none;
                    font-size: 13px;
                    font-weight: 400;
                    width: 100%;
                    border: none;
                    line-height: 68px;
                    height: 68px;
                    padding-left: 31px;
                    letter-spacing: 0.05em;
                }
            }
            .email-signup-button {
                button {
                    position: absolute;
                    text-transform: uppercase;
                    width: 169px;
                    height: 60px;
                    background-color: @main-color;
                    font-size: 16px;
                    font-weight: 500;
                    color: @text-white-color;
                    border: none;
                    border-radius: 60px;
                    top: 50%;
                    right: 1%;
                    .transformer(translateY(-50%));
                }
            }
        }
    }
}

// ================ Brand section ============= //
.brand {
    padding: 39px 0;
    &-item {
        img {
            width: 100%;
        }
        .col(20%);
    }
}
